In [24]:
import pandas
import numpy

df_updrs_i = pandas.read_csv('../source_data/MDS-UPDRS_Part_I.csv')
df_patnos = pandas.read_csv('../source_data/non_hc_patnos.csv')
df_sigfall = pandas.read_csv('../source_data/sigfall_main.csv')
non_hc_patnos = list(df_patnos.values.flat)

df_sigfall.head()

   PATNO EVENT_ID   INFODT  AGE_AT_EVENT  PREV_SIGFALL  SIGFALL
0   3001      V15  03/2019          73.2             0      0.0
1   3001      V17  09/2021          75.7             0      1.0
2   3002      V15  03/2019          75.6             0      0.0
3   3002      V17  09/2021          78.1             0      0.0
4   3003      V15  03/2019          64.7             0      0.0

In [25]:
# --- Create dataframe that combines UPDRSi data with SIGFALL & PREV_SIGFALL ---

def lookup_value(dframe,row,value):
    patno = row['PATNO']
    infodt = row['INFODT']
    
    s1 = dframe[(dframe.INFODT == infodt) & (dframe.PATNO == patno)][value]
    if s1.empty:    
        return numpy.nan
    else:
        return s1.values[0]
    
df_updrs_i_sigfall_base = df_updrs_i[df_updrs_i['PATNO'].isin(non_hc_patnos)]
df_updrs_i_sigfall_base = df_updrs_i_sigfall_base.drop(['REC_ID','PAG_NAME','NUPSOURC','ORIG_ENTRY','LAST_UPDATE'], axis=1)
df_updrs_i_sigfall_base['SIGFALL'] = df_updrs_i_sigfall_base.apply (lambda row: lookup_value(df_sigfall,row,'SIGFALL'), axis=1)
df_updrs_i_sigfall_base['PREV_SIGFALL'] = df_updrs_i_sigfall_base.apply (lambda row: lookup_value(df_sigfall,row,'PREV_SIGFALL'), axis=1)
df_updrs_i_sigfall_base = df_updrs_i_sigfall_base.dropna()
df_updrs_i_sigfall_base.head()

,PATNO,EVENT_ID,INFODT,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,NP1RTOT,SIGFALL,PREV_SIGFALL
25,3001,V15,03/2019,1,0,1,1,1,1,5.0,0.0,0.0
26,3001,V17,09/2021,2,1,2,2,1,0,8.0,1.0,0.0
43,3002,V15,03/2019,1,0,1,0,1,0,3.0,0.0,0.0
44,3002,V17,09/2021,3,1,1,2,0,0,7.0,0.0,0.0
61,3003,V15,03/2019,0,0,1,1,0,0,2.0,0.0,0.0

In [26]:
# Compute Delta values, from last sample event

def get_infodts(dframe,patno):
    return list(dframe[dframe.PATNO == patno]['INFODT'].values)

def date_to_tuple(date):
    year = date[-4:]
    month = date[:2]
    return (month,year,date)

def date_sort(dates):
    tup_list = map(date_to_tuple,dates)
    return sorted(tup_list, key = lambda x: (x[1],x[0]))

def get_index(date,dates):
    output = (False,999)    
    for idx, val in enumerate(dates):
        if val[2] == date:
            output = (True,idx)
    return output

def prev_value(dframe,row,q):
    output = numpy.nan
    patno = row['PATNO']
    infodt = row['INFODT']    
    dates = get_infodts(dframe,patno)
    sorted_dates = date_sort(dates)
    i = get_index(infodt,sorted_dates)
    
    if i[0] == True:
        try:
            prev_date_index = i[1] - 1
            if prev_date_index > -1:
                prev_date = sorted_dates[prev_date_index][2]
                output = dframe[(dframe.INFODT == prev_date ) & (dframe.PATNO == patno)][q].values[0]
        except:
            pass
    return output

def q_delta_actual(dframe,row,q):
    output = numpy.nan
    patno = row['PATNO']
    infodt = row['INFODT']
    
    current = dframe[(dframe.INFODT == infodt ) & (dframe.PATNO == patno)][q].values[0]
    prev = prev_value(dframe,row,q)
    
    try:
        output = float(current) - float(prev)
    except:
        pass
    return output

updrs_qs = ['NP1COG', 'NP1HALL', 'NP1DPRS','NP1ANXS', 'NP1APAT', 'NP1DDS', 'NP1RTOT']
dq_pairs = [(x,('D_'+x)) for x in updrs_qs]

for x in dq_pairs:
    df_updrs_i_sigfall_base[x[1]] = df_updrs_i_sigfall_base.apply (lambda row: q_delta_actual(df_updrs_i_sigfall_base,row,x[0]), axis=1)

In [12]:
# Extracting subsets
# short form = minimum viable number of columns

df_short_form = df_updrs_i_sigfall_base[['D_NP1RTOT','PREV_SIGFALL','SIGFALL']]
df_short_form = df_short_form.dropna()
df_short_form.to_csv('../working_data/updrsi_short_form.csv', index=False)
df_short_form.head()

     D_NP1RTOT  PREV_SIGFALL  SIGFALL
26         3.0           0.0      1.0
44         4.0           0.0      0.0
112        1.0           0.0      0.0
166        5.0           0.0      1.0
193        3.0           1.0      0.0

In [30]:
# long form - all q's

df_qs = df_updrs_i_sigfall_base[['D_NP1COG', 'D_NP1HALL', 'D_NP1DPRS', 'D_NP1ANXS', 'D_NP1APAT',
       'D_NP1DDS','PREV_SIGFALL','SIGFALL']]
df_qs = df_qs.dropna()
df_qs.to_csv('../working_data/updrsi_all_qs.csv', index=False)

In [23]:
df_short_form.shape

(479, 3)